table{
	border:2px solid blue;
	font-size:25 px;
	text-align:center;
	height:50%;
	width:70%;
	
}
th{
	border:5px solid yellow;
	background:pink;
}
	td
	{
		border:5px solid pink;
		background:yellow;
	}

	#space
	{
		border-collapse: separate;
		/*border-spacing:45px;*/
		border-spacing: 20pt 1em;
	
	}

	#welcome
	{
		border:5px solid green;
		border-collapse:collapse;
	
		
	
	}
