.container
{
display:grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows:100px  100px;
grid-template-areas:"header header" 
"sidebar main"
 "footer footer";
border:10px solid green;
}
.box
{
width:5rem;
height:5rem;
background: 5px  salmon;
}
.box-one
{
grid-area:header;
}
